@using System.Security.Claims;
@{
    ViewBag.Title = "Barly";
}
<main class="mdl-layout__content home">
    <div class="page-content">
        <div class="content-home">
            <form action="/Home/Search" method="get" class="form-horizontal">

                <div class="search-content-home">
                    <ul>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-1" name="zipcodes" value="75001" />
                                <label for="list-switch-1">
                                    <img src="../Content/img/75001.svg" />
                                    <span>1er</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-2" name="zipcodes" value="75002" />
                                <label for="list-switch-2">
                                    <img src="../Content/img/75002.svg" />
                                    <span>2eme</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-3" name="zipcodes" value="75003" />
                                <label for="list-switch-3">
                                    <img src="../Content/img/75003.svg" />
                                    <span>3eme</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-4" name="zipcodes" value="75004" />
                                <label for="list-switch-1">
                                    <img src="../Content/img/75004.svg" />
                                    <span>4eme</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-5" name="zipcodes" value="75005" />
                                <label for="list-switch-1">
                                    <img src="../Content/img/75005.svg" />
                                    <span>5eme</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-6" name="zipcodes" value="75006" />
                                <label for="list-switch-6">
                                    <img src="../Content/img/75006.svg" />
                                    <span>6eme</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-7" name="zipcodes" value="75007" />
                                <label for="list-switch-7">
                                    <img src="../Content/img/75007.svg" />
                                    <span>7eme</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-8" name="zipcodes" value="75008" />
                                <label for="list-switch-8">
                                    <img src="../Content/img/75008.svg" />
                                    <span>8eme</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-9" name="zipcodes" value="75009" />
                                <label for="list-switch-9">
                                    <img src="../Content/img/75009.svg" />
                                    <span>9eme</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-10" name="zipcodes" value="75010" />
                                <label for="list-switch-10">
                                    <img src="../Content/img/75010.svg" />
                                    <span>10eme</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-11" name="zipcodes" value="75011" />
                                <label for="list-switch-11">
                                    <img src="../Content/img/75011.svg" />
                                    <span>11eme</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-12" name="zipcodes" value="75012" />
                                <label for="list-switch-12">
                                    <img src="../Content/img/75012.svg" />
                                    <span>12eme</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-13" name="zipcodes" value="75013" />
                                <label for="list-switch-13">
                                    <img src="../Content/img/75013.svg" />
                                    <span>13eme</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-14" name="zipcodes" value="75014" />
                                <label for="list-switch-14">
                                    <img src="../Content/img/75014.svg" />
                                    <span>14eme</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-15" name="zipcodes" value="75015" />
                                <label for="list-switch-15">
                                    <img src="../Content/img/75015.svg" />
                                    <span>15eme</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-16" name="zipcodes" value="75016" />
                                <label for="list-switch-16">
                                    <img src="../Content/img/75016.svg" />
                                    <span>16eme</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-17" name="zipcodes" value="75017" />
                                <label for="list-switch-17">
                                    <img src="../Content/img/75017.svg" />
                                    <span>17eme</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-18" name="zipcodes" value="75018" />
                                <label for="list-switch-18">
                                    <img src="../Content/img/75018.svg" />
                                    <span>18eme</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-19" name="zipcodes" value="75019" />
                                <label for="list-switch-19">
                                    <img src="../Content/img/75019.svg" />
                                    <span>19eme</span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="input-container">
                                <input type="checkbox" id="list-switch-20" name="zipcodes" value="75020" />
                                <label for="list-switch-10">
                                    <img src="../Content/img/75020.svg" />
                                    <span>20eme</span>
                                </label>
                            </div>
                        </li>
                        <li class="clearfix"></li>
                    </ul>
                </div>





                @*<ul class="mdl-list">
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-1">
                                Paris 1er
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-1">
                                    <input type="checkbox" id="list-switch-1" name="zipcodes" value="75001" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-2">
                                Paris 2ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-2">
                                    <input type="checkbox" id="list-switch-2" name="zipcodes" value="75002" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-3">
                                Paris 3ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-3">
                                    <input type="checkbox" id="list-switch-3" name="zipcodes" value="75003" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-4">
                                Paris 4ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-4">
                                    <input type="checkbox" id="list-switch-4" name="zipcodes" value="75004" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-5">
                                Paris 5ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-5">
                                    <input type="checkbox" id="list-switch-5" name="zipcodes" value="75005" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-6">
                                Paris 6ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-6">
                                    <input type="checkbox" id="list-switch-6" name="zipcodes" value="75006" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-7">
                                Paris 7ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-7">
                                    <input type="checkbox" id="list-switch-7" name="zipcodes" value="75007" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-8">
                                Paris 8ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-8">
                                    <input type="checkbox" id="list-switch-8" name="zipcodes" value="75008" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-9">
                                Paris 9ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-9">
                                    <input type="checkbox" id="list-switch-9" name="zipcodes" value="75009" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-10">
                                Paris 10ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-10">
                                    <input type="checkbox" id="list-switch-10" name="zipcodes" value="75010" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-11">
                                Paris 11ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-11">
                                    <input type="checkbox" id="list-switch-11" name="zipcodes" value="75011" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-12">
                                Paris 12ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-12">
                                    <input type="checkbox" id="list-switch-12" name="zipcodes" value="75012" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-13">
                                Paris 13ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-13">
                                    <input type="checkbox" id="list-switch-13" name="zipcodes" value="75013" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-14">
                                Paris 14ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-14">
                                    <input type="checkbox" id="list-switch-14" name="zipcodes" value="75014" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-15">
                                Paris 15ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-15">
                                    <input type="checkbox" id="list-switch-15" name="zipcodes" value="75015" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-16">
                                Paris 16ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-16">
                                    <input type="checkbox" id="list-switch-16" name="zipcodes" value="75016" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-17">
                                Paris 17ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-17">
                                    <input type="checkbox" id="list-switch-17" name="zipcodes" value="75017" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-18">
                                Paris 18ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-18">
                                    <input type="checkbox" id="list-switch-18" name="zipcodes" value="75018" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-19">
                                Paris 19ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-19">
                                    <input type="checkbox" id="list-switch-19" name="zipcodes" value="75019" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                        <li class="mdl-list__item">
                            <label class="mdl-list__item-primary-content" for="list-switch-20">
                                Paris 20ème
                            </label>
                            <span class="mdl-list__item-secondary-action">
                                <label class="mdl-switch mdl-js-switch" for="list-switch-20">
                                    <input type="checkbox" id="list-switch-20" name="zipcodes" value="75020" class="mdl-switch__input" />
                                </label>
                            </span>
                        </li>
                    </ul>*@
                <div class="mdl-grid">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Rechercher</button>
                    &nbsp;
                    <a id="geolocalisation" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="#">
                        <i class="material-icons">my_location</i>
                    </a>
                </div>
            </form>
            <script>
                $('#geolocalisation').click(function () {
                    if ("geolocation" in navigator) {
                        /* géolocalisation possible */
                        navigator.geolocation.getCurrentPosition(function (position) {
                            window.location = "/Home/SearchFromLocation?latitude=" + position.coords.latitude + "&longitude=" + position.coords.longitude;
                        });
                    } else {
                        alert("Le service de géolocalisation n'est pas disponible sur votre ordinateur.");
                    }
                });
            </script>
        </div>
    </div>
</main>
