@using System.Security.Claims;
@{
    ViewBag.Title = "Barly";
}
<main class="mdl-layout__content home">
    <div class="page-content">
        <div class="content-home">
            <form id="search" action="/Home/Search" method="get" class="form-horizontal">

                <div class="search-content-home mdl-grid mdl-grid--no-spacing">
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-1" name="zipcodes" value="75001" />
                        <label for="list-switch-1">
                            <img src="../Content/img/75001.svg" />
                            <span>1er</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-2" name="zipcodes" value="75002" />
                        <label for="list-switch-2">
                            <img src="../Content/img/75002.svg" />
                            <span>2eme</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-3" name="zipcodes" value="75003" />
                        <label for="list-switch-3">
                            <img src="../Content/img/75003.svg" />
                            <span>3eme</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-4" name="zipcodes" value="75004" />
                        <label for="list-switch-4">
                            <img src="../Content/img/75004.svg" />
                            <span>4eme</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-5" name="zipcodes" value="75005" />
                        <label for="list-switch-5">
                            <img src="../Content/img/75005.svg" />
                            <span>5eme</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-6" name="zipcodes" value="75006" />
                        <label for="list-switch-6">
                            <img src="../Content/img/75006.svg" />
                            <span>6eme</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-7" name="zipcodes" value="75007" />
                        <label for="list-switch-7">
                            <img src="../Content/img/75007.svg" />
                            <span>7eme</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-8" name="zipcodes" value="75008" />
                        <label for="list-switch-8">
                            <img src="../Content/img/75008.svg" />
                            <span>8eme</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-9" name="zipcodes" value="75009" />
                        <label for="list-switch-9">
                            <img src="../Content/img/75009.svg" />
                            <span>9eme</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-10" name="zipcodes" value="75010" />
                        <label for="list-switch-10">
                            <img src="../Content/img/75010.svg" />
                            <span>10eme</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-11" name="zipcodes" value="75011" />
                        <label for="list-switch-11">
                            <img src="../Content/img/75011.svg" />
                            <span>11eme</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-12" name="zipcodes" value="75012" />
                        <label for="list-switch-12">
                            <img src="../Content/img/75012.svg" />
                            <span>12eme</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-13" name="zipcodes" value="75013" />
                        <label for="list-switch-13">
                            <img src="../Content/img/75013.svg" />
                            <span>13eme</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-14" name="zipcodes" value="75014" />
                        <label for="list-switch-14">
                            <img src="../Content/img/75014.svg" />
                            <span>14eme</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-15" name="zipcodes" value="75015" />
                        <label for="list-switch-15">
                            <img src="../Content/img/75015.svg" />
                            <span>15eme</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-16" name="zipcodes" value="75016" />
                        <label for="list-switch-16">
                            <img src="../Content/img/75016.svg" />
                            <span>16eme</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-17" name="zipcodes" value="75017" />
                        <label for="list-switch-17">
                            <img src="../Content/img/75017.svg" />
                            <span>17eme</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-18" name="zipcodes" value="75018" />
                        <label for="list-switch-18">
                            <img src="../Content/img/75018.svg" />
                            <span>18eme</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-19" name="zipcodes" value="75019" />
                        <label for="list-switch-19">
                            <img src="../Content/img/75019.svg" />
                            <span>19eme</span>
                        </label>
                    </div>
                    <div class="input-container mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <input type="checkbox" id="list-switch-20" name="zipcodes" value="75020" />
                        <label for="list-switch-20">
                            <img src="../Content/img/75020.svg" />
                            <span>20eme</span>
                        </label>
                    </div>
                    <div class="button-container mdl-cell--4-col mdl-cell--12-col-tablet">
                        <button id="checkAll" class="mdl-button mdl-js-button mdl-button--raised">
                            <i class="material-icons">playlist_add_check</i>&nbsp;Tout
                        </button>
                    </div>
                    <div class="button-container mdl-cell--4-col mdl-cell--12-col-tablet">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                            <i class="material-icons">search</i>&nbsp;Rechercher
                        </button>
                    </div>
                    <div class="button-container mdl-cell--4-col mdl-cell--12-col-tablet">
                        <a id="geolocalisation" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="#">
                            <i class="material-icons">my_location</i>&nbsp;Ma position
                        </a>
                    </div>
                </div>
            </form>
            <script>
                $(function () {
                    $('#checkAll').click(function () {
                        if ($('form input[type="checkbox"]').length == $('form input[type="checkbox"]:checked').length) {
                            $('form input[type="checkbox"]').prop('checked', false);
                        }
                        else {
                            $('form input[type="checkbox"]').prop('checked', true);
                        }
                        return false;
                    });
                    $('#geolocalisation').click(function () {
                        if ("geolocation" in navigator) {
                            /* géolocalisation possible */
                            navigator.geolocation.getCurrentPosition(function (position) {
                                window.location = "/Home/SearchFromLocation?latitude=" + position.coords.latitude + "&longitude=" + position.coords.longitude;
                            });
                        } else {
                            toastAlert("Le service de géolocalisation n'est pas disponible.");
                        }
                    });
                    $("#search").submit(function (event) {
                        if ($('form input[type="checkbox"]:checked').length == 0) {
                            event.preventDefault();
                            return false;
                        }
                    });
                });
            </script>
        </div>
    </div>
</main>
