@using System.Security.Claims;
@{
    ViewBag.Title = "Barly";
}
<main class="mdl-layout__content home">
    <div class="search-content">
        <div class="content-home">
            <div id="lander">
                <h1>Barly</h1>
                <h2>Envie de boire un verre ce soir ?</h2>
                <h4>Découvrir son prochain bar préféré sur Paris n'a jamais été aussi facile</h4>
                <!-- Begin MailChimp Signup Form -->
                <form action="//azurewebsites.us13.list-manage.com/subscribe/post?u=520a415f649fadca380973a3f&amp;id=18b27d5fe6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input type="email" value="" name="EMAIL" class="required email mdl-textfield__input" id="mce-EMAIL">
                        <label for="mce-EMAIL" class="mdl-textfield__label">Email </label>
                    </div>
                    <input type="submit" value="Rester en contact" name="subscribe" id="mc-embedded-subscribe" class="button mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                    <div id="mce-responses" class="">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_520a415f649fadca380973a3f_18b27d5fe6" tabindex="-1" value=""></div>
                </form>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                <script type='text/javascript'>
                    (function ($) {
                        window.fnames = new Array();
                        window.ftypes = new Array();
                        fnames[0] = 'EMAIL';
                        ftypes[0] = 'email';
                        /*
                        * Translated default messages for the $ validation plugin.
                        * Locale: FR
*/
                        $.extend($.validator.messages, {
                            required: "Ce champ est requis.",
                            remote: "Veuillez remplir ce champ pour continuer.",
                            email: "Veuillez entrer une adresse email valide.",
                            url: "Veuillez entrer une URL valide.",
                            date: "Veuillez entrer une date valide.",
                            dateISO: "Veuillez entrer une date valide (ISO).",
                            number: "Veuillez entrer un nombre valide.",
                            digits: "Veuillez entrer (seulement) une valeur numérique.",
                            creditcard: "Veuillez entrer un numéro de carte de crédit valide.",
                            equalTo: "Veuillez entrer une nouvelle fois la même valeur.",
                            accept: "Veuillez entrer une valeur avec une extension valide.",
                            maxlength: $.validator.format("Veuillez ne pas entrer plus de {0} caractères."),
                            minlength: $.validator.format("Veuillez entrer au moins {0} caractères."),
                            rangelength: $.validator.format("Veuillez entrer entre {0} et {1} caractères."),
                            range: $.validator.format("Veuillez entrer une valeur entre {0} et {1}."),
                            max: $.validator.format("Veuillez entrer une valeur inférieure ou égale à {0}."),
                            min: $.validator.format("Veuillez entrer une valeur supérieure ou égale à {0}.")
                        });
                    }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->
            </div>
            <div id="features">
                <div class="feature">
                    <div class="mdl-grid">
                        <div class="mdl-cell--6-col description">
                            <h2>Proximité</h2>
                            <h3>Les meilleurs bars près de chez vous</h3>
                            <p>Trouvez un bar pour ce soir selon votre localisation et basé sur l'avis de nos fêtards les plus assidus</p>
                        </div>
                        <div class="mdl-cell--6-col action">
                            <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" href="/Home/Filter">
                                <i class="material-icons">map</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="mdl-grid">
                        <div class="mdl-cell--6-col description">
                            <h2>Goût</h2>
                            <div class="mdl-tooltip" for="taste-button">
                                Bientôt en ligne !
                            </div>
                            <h3>Votre expérience personnelle</h3>
                            <p>Aidez-nous à connnaitre vos goûts en listant les bars que vous aimez, et ceux que vous n'aimez pas</p>
                        </div>
                        <div class="mdl-cell--6-col action">
                            <a class="mdl-button mdl-js-button mdl-button--fab" id="taste-button" href="#">
                                <i class="material-icons">favorite</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="mdl-grid">
                        <div class="mdl-cell--6-col description">
                            <h2>Découverte</h2>
                            <div class="mdl-tooltip" for="explore-button">
                                Bientôt en ligne !
                            </div>
                            <h3>Votre prochain bar préféré</h3>
                            <p>Votre prochaine perle n'est peut être pas si loin, découvrez des bars qui ont plu à ceux ayant les même goûts que vous</p>
                        </div>
                        <div class="mdl-cell--6-col action">
                            <a class="mdl-button mdl-js-button mdl-button--fab" id="explore-button" href="#">
                                <i class="material-icons">explore</i>
                            </a>
                        </div>
                    </div>
                </div>
                @*<div id="root" style="width: 280px; margin: 40px auto; padding: 10px; border-style: dashed; border-width: 1px;">
                        embeded area
                    </div>
                    <script src="https://cdn.auth0.com/js/lock-9.1.min.js"></script>
                    <script>

                      var lock = new Auth0Lock('3zMCHxgmv8Q2VKif5CkEVhkS72XFQipK', 'cubitouch.eu.auth0.com');


                      lock.show({
                          container: 'root'
                        , callbackURL: 'http://localhost:4962/LoginCallback.ashx'
                        , dict: 'fr'
                        , responseType: 'code'
                        , authParams: {
                          scope: 'openid email'  // Learn about scopes: https://auth0.com/docs/scopes
                        }
                      });
                    </script>*@
            </div>
        </div>
</main>
