@using System.Security.Claims;
@{
    ViewBag.Title = "Barly";
}
<form action="/Home/Search" method="get" class="form-horizontal">
    <div class="input-content">
        <select name="zipcodes" data-placeholder="Choisir un arrondissement" class="chosen-select" multiple tabindex="6">
            <option value=""></option>
            <optgroup label="Paris">
                <option value="75001">Paris 1er</option>
                <option value="75002">Paris 2eme</option>
                <option value="75003">Paris 3eme</option>
                <option value="75004">Paris 4eme</option>
                <option value="75005">Paris 5eme</option>
                <option value="75006">Paris 6eme</option>
                <option value="75007">Paris 7eme</option>
                <option value="75008">Paris 8eme</option>
                <option value="75009">Paris 9eme</option>
                <option value="75010">Paris 10eme</option>
                <option value="75011">Paris 11eme</option>
                <option value="75012">Paris 12eme</option>
                <option value="75013">Paris 13eme</option>
                <option value="75014">Paris 14eme</option>
                <option value="75015">Paris 15eme</option>
                <option value="75016">Paris 16eme</option>
                <option value="75017">Paris 17eme</option>
                <option value="75018">Paris 18eme</option>
                <option value="75019">Paris 19eme</option>
                <option value="75020">Paris 20eme</option>
            </optgroup>
        </select>
        <a id="geolocalisation" class="geolocation" href="#"><i class="material-icons"></i></a>
    </div>
    <div class="search-content">
        <button class="button-glossy mdl-button" >Rechercher</button>
    </div>
</form>
<script>
    $('#geolocalisation').click(function () {
        if ("geolocation" in navigator) {
            /* géolocalisation possible */
            navigator.geolocation.getCurrentPosition(function (position) {
                window.location = "/Home/SearchFromLocation?latitude=" + position.coords.latitude + "&longitude=" + position.coords.longitude;
            });
        } else {
            alert("Le service de géolocalisation n'est pas disponible sur votre ordinateur.");
        }
    });
</script>
