
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
}

.clearfix {
    clear: both;
}

.button-coming-soon {
    background-color: #bdbdbd !important;
}

/* Wrapper */

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: #F3F3F3;
}

/* Wrapper */

.mdl-layout__header {
    position: fixed;
    background-color: rgba(47,46,60,1);
    /*background-color: transparent;*/
    box-shadow: none;
}

.mdl-layout__header-row {
    padding: 0 0 0 80px;
}

.panel {
    position: relative;
    padding: 64px 0 0 0;
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.page-content {
    position: relative;
    margin: -64px 0 0 0;
    z-index: 10;
    width: 100%;
    max-width: 734px;
}

.content-home {
    margin: 0 auto;
    /*padding: 0 36px;*/
    width: 100%;
}

.page-content {
    margin: 0 auto;
    margin-top: 74px;
    padding-bottom: 16px;
}

.search-content {
    padding-top: 64px;
}

.home {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: 50% 50%;
    /*background-image: url(img/background-home-blur.jpg);*/
    /*background-image: url(https://images.unsplash.com/reserve/6TjIJK0uSJWtQUZuQWMW_58400023.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=4fb38b2d84af501030ee5d08c237af91);*/
}

/*.home::before {
        content: '';
        display: block !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(47,46,60,0.4);
    }*/

.mdl-list {
    background-color: rgba(250, 250, 250,0.5);
}


#newsletter {
    background-color: rgba(47,46,60,1);
}

    #newsletter .mdl-grid {
        max-width: 640px;
        width: 100%;
        padding: 0 15px;
        height: 72px;
    }

    #newsletter form {
        width: 100%;
    }

    #newsletter .mdl-textfield {
        position: relative;
        font-size: 16px;
        display: inline-block;
        box-sizing: border-box;
        width: calc(100% - 224px);
        max-width: 100%;
        margin: 0;
        padding: 22px 0;
    }

    #newsletter .mdl-button {
        margin: 0 0 0 20px;
        width: 200px;
    }


.mdl-textfield__input {
    border-bottom: 1px solid rgba(255,255,255, 0.6);
    color: #f1f1f1;
}

.mdl-textfield__label {
    color: rgba(255,255,255, 0.6);
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: #ff4081;
}

.mdl-textfield__label:after {
    background-color: #ff4081;
}

.sign-in,
.sign-up {
    font-weight: 400;
}

.sign-in {
    margin: 0 12px 0 0;
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
}

    .sign-in:hover {
        background: none;
        border: 1px solid #ff4081;
        color: #ff4081;
    }

.sign-up {
    background: none;
    border: 1px solid #ff4081;
    color: #ff4081;
}

    .sign-up:hover {
        background: none;
        border: 1px solid #ffffff;
        color: #ffffff;
    }



.page-content {
    position: relative;
    z-index: 10;
}

.input-content {
    position: relative;
}

    .input-content .geolocation {
        display: table;
        width: 53px;
        height: 53px;
        position: absolute;
        top: 0;
        right: 0;
        background: none;
    }

    .input-content .material-icons {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

.button-glossy {
    display: inline-block;
    background-color: #FF4081;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 24px;
    border-radius: 5px;
    /*box-shadow: 0px 10px 6px -6px rgba(245, 113, 8, 0.8);*/
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
    border-radius: 24px;
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 400;
}

    .button-glossy:hover {
        background-color: #F50057;
    }




/* Checkbox */

.search-content-home {
    text-align: center;
}

    .search-content-home .input-container {
        padding: 6px;
    }

    .search-content-home .button-container {
        padding: 6px;
    }

        .search-content-home .button-container a,
        .search-content-home .button-container button {
            width: 100%;
        }


    .search-content-home ul {
        list-style-type: none;
    }

    .search-content-home li {
        display: inline-block;
    }

.checkbox-custom input[type="checkbox"][id^="open"],
.checkbox-custom input[type="checkbox"][id^="list-switch"] {
    display: none;
}

.checkbox-custom label {
    display: block;
    position: relative;
    /*margin: 6px;*/
    padding: 12px;
    background-color: #23232b;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
}

    .checkbox-custom label span {
        display: block;
        color: #ffffff;
        font-size: 14px;
    }

    .checkbox-custom label:before {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid white;
        position: absolute;
        top: -10px;
        left: -10px;
        width: 26px;
        height: 26px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
    }

    .checkbox-custom label img {
        height: 60px;
        width: 60px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
        pointer-events: none;
    }

.checkbox-custom input:checked + label {
    background-color: #ff4081;
}

    .checkbox-custom input:checked + label:before {
        content: "✓";
        background-color: #ffffff;
        transform: scale(1);
        color: #ff4081;
    }

    .checkbox-custom input:checked + label img {
        /*-webkit-transform: scale(0.9);
            -ms-transform: none;
            transform: scale(0.9);*/
        z-index: -1;
    }

.checkbox-custom.open-bar {
    width: 100%;
    text-transform: uppercase;
}

    .checkbox-custom.open-bar i {
        vertical-align: middle;
        margin-right: 12px;
    }

/* Checkbox */


.search-choice-close {
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

    .search-choice-close:after {
        content: 'clear';
        display: block;
        font-size: 14px;
        color: rgba(255,255,255,0.6);
    }

    .search-choice-close:hover:after {
        color: rgba(255,255,255,1);
    }


.footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.mdl-mini-footer {
    position: relative;
    padding: 12px 16px;
    color: rgba(255,255,255,0.4);
    background-color: rgba(47,46,60,1);
    height: 46px;
}

    .mdl-mini-footer p {
        position: absolute;
        top: 6px;
        right: 40px;
        display: block;
        margin-bottom: 0;
        text-align: right;
        font-size: 11px;
    }

    .mdl-mini-footer .favorite {
        color: red;
        vertical-align: sub;
        font-size: 12px;
        animation: bounce 0.35s ease infinite alternate;
    }

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-4px);
    }
}

.search-content {
    padding-top: 64px;
}

.home {
    height: 100%;
    overflow: auto;
}

#bar-map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 840px) {
    #bar-map {
        float: left;
        width: 62%;
    }
}

.search-content {
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .search-content {
        padding-top: 56px;
    }
}


.mdl-card > .mdl-card__title {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    height: 176px;
    background: rgba(0, 0, 0, 0.2);
}

.mdl-card > .mdl-card__menu {
    color: #fff;
}

.mdl-card .mdl-card__title {
    padding: 0;
}

.mdl-card .mdl-card__title-text {
    background: rgba(0, 0, 0, 0.4);
    padding: 8px 16px;
    width: 100%;
}


.feature {
    position: relative;
    padding: 72px 24px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid #f1f1f1;
}

    .feature .mdl-grid {
        max-width: 960px;
        margin: 0 auto;
    }

    .feature h2,
    .feature h3,
    .feature p {
        margin: 0;
        width: 100%;
        color: #2f2e3c;
    }

    .feature img {
        margin: 0 auto;
        height: 128px;
    }

    .feature h2 {
        margin-top: 36px;
        margin-bottom: 6px;
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 400;
    }

    .feature h3 {
        margin-top: 0;
        margin-bottom: 12px;
        font-size: 26px;
        font-weight: 300;
    }

    .feature .mdl-button--accent.mdl-button--accent.mdl-button--raised,
    .feature .mdl-button--accent.mdl-button--accent.mdl-button--fab {
        height: 48px;
        padding: 0 36px;
        line-height: 48px;
        margin: 36px auto 0 auto;
        font-size: 18px;
    }

    .feature .mdl-button--accent.mdl-button--accent.mdl-button--raised,
    .feature .mdl-button--accent.mdl-button--accent.mdl-button--fab {
        height: 48px;
        padding: 0 36px;
        line-height: 48px;
        margin: 36px auto 0 auto;
        font-size: 18px;
    }

.feature-coming-soon h2, .feature-coming-soon h3, .feature-coming-soon p {
    color: #bdbdbd;
}



#mce-responses {
    margin-top: 10px;
}

    #mce-responses .response {
        color: rgba(0,0,0, 0.87);
    }

dialog img {
    max-width: 100%;
}

.mdl-dialog, dialog {
    width: 100% !important;
    height: 100%;
    top: 0;
    overflow: scroll;
}

.bar {
    min-height: initial;
    cursor: pointer;
    height: 176px;
}

    .bar:not(.open) .mdl-card__title::before {
        content: '';
        display: block !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(47,46,60,0.4);
        transition: background .3s ease-out;
    }

    .bar .mdl-card__title h2 {
        z-index: 10;
    }

    .bar .mdl-card__title-text {
        text-align: center;
        /*-webkit-align-self: flex-initial !important;
        -ms-flex-item-align: initial !important;
        align-self: initial !important;*/
        display: block;
    }

    .bar.open .mdl-card__title-text {
        -webkit-align-self: flex-end !important;
        -ms-flex-item-align: end !important;
        align-self: end !important;
    }

    .bar:not(.open):hover .mdl-card__title::before,
    .bar:not(.open).active .mdl-card__title::before {
        background: rgba(255,64,129,0.6);
    }

    .bar.open {
        cursor: default;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        margin: 0;
        display: block !important;
    }

@media screen and (min-width: 840px) {
    .bar.open {
        width: 38%;
        top: 56px;
    }
}

@media screen and (min-width: 1024px) {
    .bar.open {
        top: 64px;
    }
}

.bar .opener {
    display: inline-block;
}

.bar .closer {
    display: none;
}

.bar.open .opener {
    display: none;
}

.bar.open .closer {
    display: inline-block;
}

.search-content.map #bar-map {
    display: block;
}

.search-content.map #bar-list {
    padding: 0;
}


@media screen and (max-width: 839px) {
    .search-content.map #bar-list .bar {
        display: none;
    }

    .search-content.list #bar-map {
        display: none;
    }
}

@media screen and (min-width: 840px) {
    #bar-list {
        width: 50%;
        display: flex !important;
        float: left;
        height: 100%;
        width: 38%;
        overflow-y: scroll;
    }

    .search-content.map #bar-list .bar {
        display: flex;
        /*transition: all .3s ease-out;*/
    }
}


.search-content.list #bar-list .bar {
    display: block;
}

#lander {
    text-align: center;
    background-image: url(../images/bghome.jpg);
    background-position: center;
    background-size: cover;
    /*color: white;*/
    font-family: 'Roboto', sans-serif;
    padding: 0 24px;
    height: 640px;
    display: flex;
    align-items: center;
}

    #lander h1 {
        font-size: 48px;
        text-transform: uppercase;
    }

    #lander h2 {
        font-size: 36px;
    }

    #lander h4 {
        font-size: 21px;
    }

.flex-center {
    margin: auto;
}

#lander form {
    margin-top: 48px;
    background-color: white;
    border-top: rgba(0,0,0,0.870588);
    border-bottom: rgba(0,0,0,0.870588);
}

#lander h1, #lander h2, #lander h4 {
    color: white;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
}

#lander form #mce-responses {
    margin-top: 10px;
    background-color: #323232;
}

    #lander form #mce-responses .response {
        color: white;
        padding: 10px;
    }

.mdl-list .active {
    color: White;
    background-color: rgba(255, 64, 129,0.5);
}

    .mdl-list .active i,
    .mdl-list .active .mdl-list__item-sub-title {
        color: White !important;
    }

.mdl-navigation .mdl-button {
    height: 100%;
    box-shadow: none;
    border-radius: 0;
    border-left: 1px solid rgba(255,255,255,0.6);
    border-right: 1px solid rgba(255,255,255,0.6);
}

.mdl-navigation a.mdl-button .material-icons {
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
    .mdl-navigation a.mdl-button .material-icons {
        margin-top: 15px !important;
    }
}


header.hide {
    display: flex;
}

@media screen and (max-width: 839px) {
    header.hide {
        display: none !important;
    }
}

.mdl-card-list {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.mdl-card-adress {
    background-color: rgb(47, 46, 60);
    border: none;
}

    .mdl-card-adress .mdl-list {
        background: none;
    }

    .mdl-card-adress .material-icons,
    .mdl-card-adress span {
        color: white;
    }

    .mdl-card-adress .mdl-list {
        background: none;
    }

    .mdl-card-adress .material-icons,
    .mdl-card-adress span {
        /*color: white;*/
    }

.mdl-mini-footer {
    padding: 0;
}

    .mdl-mini-footer .mdl-mini-footer--middle-section {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding: 0;
    }

        .mdl-mini-footer .mdl-mini-footer--middle-section .mdl-button.third {
            float: left;
            width: calc(100%/3);
            height: 100%;
            border-radius: 0;
        }

            .mdl-mini-footer .mdl-mini-footer--middle-section .mdl-button.third .material-icons {
                line-height: 100%;
            }

    .mdl-mini-footer .mdl-button--colored {
        color: #7986CB;
    }


#betweenContainer .mdl-textfield {
    width: 100%;
}

#betweenContainer .mdl-button {
    width: 100%;
}

#betweenContainer .mdl-textfield__label.is-success:after {
    background-color: greenyellow;
    left: 0;
    visibility: visible;
    width: 100%;
}

.mdl-card-foursquare .foursquare-phone,
.mdl-card-foursquare .foursquare-website,
/*.mdl-card-foursquare .foursquare-phone,*/
.mdl-card-foursquare .foursquare-price {
    display: none;
}


    .mdl-card-foursquare .foursquare-phone .mdl-list__item-primary-content,
    .mdl-card-foursquare .foursquare-website .mdl-list__item-primary-content,
    /*.mdl-card-foursquare .foursquare-phone .mdl-list__item-primary-content,*/
    .mdl-card-foursquare .foursquare-price .mdl-list__item-primary-content {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.mdl-card-foursquare .foursquare-price-value .mdl-list__item-icon {
    margin-right: 0;
}

.mdl-list .mdl-list__item a {
    text-decoration: none;
    display: flex;
    width: 100%;
    color: inherit;
    font-weight: inherit;
}

.bar .scrollable {
    overflow: auto;
    height: calc(100% - 176px - 64px);
}

@media screen and (max-width: 1023px) {
    .bar .scrollable {
        height: calc(100% - 176px - 56px);
    }
}

@media screen and (max-width: 839px) {
    .bar .scrollable {
        height: calc(100% - 176px);
    }
}


.mdl-card-google .mdl-list__item img {
    width: 24px;
    margin-right: 4px;
}

/* GOOD MEDIA QUERIES */

@media screen and (max-width: 1280px) {
    #lander {
        height: 600px;
    }
}

@media screen and (max-width: 990px) {
    #lander {
        height: 540px;
    }

    /*#lander h1 {
            font-size: 42px;
        }

        #lander h2 {
            font-size: 34px;
        }

        #lander h4 {
            font-size: 18px;
        }*/
}

@media screen and (max-width: 768px) {
    #lander {
        height: 480px;
    }

        #lander h1,
        #lander h2,
        #lander h4 {
            margin-top: 12px;
            margin-bottom: 12px;
        }

        #lander h1 {
            font-size: 36px;
        }

        #lander h2 {
            font-size: 28px;
        }

        #lander h4 {
            font-size: 18px;
        }

    .feature img {
        height: 96px;
    }

    .feature h2 {
        margin-top: 24px;
        font-size: 26px;
    }

    .feature h3 {
        font-size: 20px;
    }

    .feature .mdl-button--accent.mdl-button--accent.mdl-button--raised, .feature .mdl-button--accent.mdl-button--accent.mdl-button--fab {
        font-size: 16px;
    }

    #newsletter .mdl-grid {
        padding: 0 15px 22px 15px;
        height: auto;
    }

    #newsletter .mdl-textfield {
        width: 100%;
    }

    #newsletter .mdl-button {
        display: table;
        margin: 0 auto;
        width: 200px;
    }
}

@media screen and (max-width: 640px) {
    #lander {
        height: 360px;
    }
}


/* GOOD MEDIA QUERIES */

